<h1>Dude, Rochambeau Me!</h1>
</br>
</br>

<form action="/result_1p" align="center">

  <table border="2" align="center" class="table table-condensed">

  <tr>
  <td>
    <h3 class="text-center">Player 1</h3>
  </td>
  <td>
    <div class="radio">
      <label><input type="radio" name="object" value=0>Rock</label>
    </div>
  </td>
  <td>
    <div class="radio">
      <label><input type="radio" name="object" value=2>Paper</label>
    </div>
  </td>
  <td>
    <div class="radio">
      <label><input type="radio" name="object" value=1>Scissors</label>
    </div>
  </td>
  </tr>

</table>

</br>

  <input class="btn btn-primary" id="submit" type="submit" value="1.. 2.. 3..">
</form>

<!--

<div class="form-group">
  <label for="sel1">Select list:</label>
  <form action="/result">
  <select class="form-control" id="sel1">
    <option>Rock</option>
    <option>Paper</option>
    <option>Scissors</option>
  </select>
    <input id="submit" type="submit" value="1.. 2.. 3..">
  </form>
</div>

-->








<!--



-->
