<h1>Dude, Rochambeau Me!</h1>
</br>
</br>

<form action="/result" align="center">

  <table border="2">

  <tr>
  <td>
    <h3>Player 1</h3>
  </td>
  <td>
    <div class="radio">
      <label><input type="radio" name="object" value=0>Rock</label>
    </div>
  </td>
  <td>
    <div class="radio">
      <label><input type="radio" name="object" value=2>Paper</label>
    </div>
  </td>
  <td>
    <div class="radio">
      <label><input type="radio" name="object" value=1>Scissors</label>
    </div>
  </td>
  </tr>

  <table border="2">
    <tr>
      <td> <h3>Player 2</h3> </td>
      <td>
        <div class="radio">
          <label><input type="radio" name="object2" value=0>Rock</label>
        </div>
      </td>
      <td>
        <div class="radio">
          <label><input type="radio" name="object2" value=2>Paper</label>
        </div>
      </td>
      <td>
        <div class="radio">
          <label><input type="radio" name="object2" value=1>Scissors</label>
        </div>
      </td>
    </tr>
</table>

  <input id="submit" type="submit" value="1.. 2.. 3..">
</form>

<!--

<div class="form-group">
  <label for="sel1">Select list:</label>
  <form action="/result">
  <select class="form-control" id="sel1">
    <option>Rock</option>
    <option>Paper</option>
    <option>Scissors</option>
  </select>
    <input id="submit" type="submit" value="1.. 2.. 3..">
  </form>
</div>

-->








<!--



-->
