<h1>CHOOSE YOUR ROCHAMBEAU</h1>
</br>
</br>
<form action="/form" align="center">
  <input id="form" type="submit" value="1 Player">
</form>
</br></br>
<form action="/form_2p" align="center">
  <input id="form_2p" type="submit" value="2 Player">
</form>
